@page
@using Microsoft.Extensions.Localization
@using Moduleapp.Localization
@using Moduleapp.Web.Pages.Moduleapp
@model Moduleapp.Web.Pages.Moduleapp.IndexModel
@inject IStringLocalizer<ModuleappResource> L

@{
}
<h1>Moduleapp</h1>
<p>@L["SamplePageMessage"]</p>
